@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body {



    background: url(https://www.punchdrunk.com/content/uploads/2021/09/PDSiteHeaderHamdark.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;

}

img {
    width:300px;
    padding: 5px;
}


h1  , h3 {
    color: #F3E0BE;
}

h2, h4 {
    color:white;
}

td {
    text-align: center;
}

#table_scroll {
    width:100%;
    overflow:scroll;
}

.content {
    width:100%;
    height:auto;
}

.child {
    position: absolute;
    width:80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.disclaimer {
    padding: 10px;
    color: #F3E0BE;
}

#show_date {display: none;}
#table_scroll {display: none;}



