@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');



body {

    background: url(https://www.punchdrunk.com/content/uploads/2021/09/PDSiteHeaderHamdark.jpg);
    /* background-color: black; */
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    

}

img {
    width:300px;
    padding: 5px;
}


h1  , h3 {
    color: #F3E0BE;
}

h2, h4 {
    color:white;
}

td {
    text-align: center;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.table_scroll {

    overflow:scroll;
    overflow-y: hidden;
    display: none;

    

    
}



#content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    

    
    
}

.padding {
    width:10%;

}



.disclaimer {
    padding: 10px;
    color: #F3E0BE;
}


a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
    a.button1:hover{
    color:#000000;
    background-color:#F3E0BE;
    }
    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:0.4em auto;
    }

} 


#btn_back {
    display:none;
}



